/*

selector{
    property: value
    
    */

    /*
    1] simple selector
    2]html element name
    3]class name
    4]id
    5]*

    */
h1{
    color: red;
}

.title{
    background-color: aqua;
}

#subtitle{
    font-size: 50px;
    color: blueviolet;
}

*{
    font-size: large;
}
*{
    font-size: larger;
}
.class{
    color: brown;
}