<!-- <div class="demo-page">
    <div class="demo-page-navigation">
      <nav>
        <ul>
          <li>
            <a href="#installation">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tool">
                <path d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z" />
              </svg>
              Installation</a>
          </li>
          <li>
            <a href="#structure">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                <polygon points="12 2 2 7 12 12 22 7 12 2" />
                <polyline points="2 17 12 22 22 17" />
                <polyline points="2 12 12 17 22 12" />
              </svg>
              Structure</a>
          </li>
          <li>
            <a href="#input-types">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify">
                <line x1="21" y1="10" x2="3" y2="10" />
                <line x1="21" y1="6" x2="3" y2="6" />
                <line x1="21" y1="14" x2="3" y2="14" />
                <line x1="21" y1="18" x2="3" y2="18" />
              </svg>
              Input types</a>
          </li>
          <li>
            <a href="#checkbox-and-radio">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square">
                <polyline points="9 11 12 14 22 4" />
                <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11" />
              </svg>
              Checkbox and Radio</a>
          </li>
          <li>
            <a href="#fieldset">
              <svg xmlns="http://www.w3.org/2000/svg" style="transform: rotate(90deg)" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns">
                <path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18" />
              </svg>
              Fieldset</a>
          </li>
  
          <li>
            <a href="#icons">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-feather">
                <path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z" />
                <line x1="16" y1="8" x2="2" y2="22" />
                <line x1="17.5" y1="15" x2="9" y2="15" />
              </svg>
              Icons</a>
          </li>
          <li>
            <a href="#validation">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle">
                <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z" />
                <line x1="12" y1="9" x2="12" y2="13" />
                <line x1="12" y1="17" x2="12.01" y2="17" />
              </svg>
              Validation</a>
          </li>
          <li>
            <a href="#date">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2" />
                <line x1="16" y1="2" x2="16" y2="6" />
                <line x1="8" y1="2" x2="8" y2="6" />
                <line x1="3" y1="10" x2="21" y2="10" />
              </svg>
              Date input</a>
          </li>
          <li>
            <a href="#other">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-server">
                <rect x="2" y="2" width="20" height="8" rx="2" ry="2" />
                <rect x="2" y="14" width="20" height="8" rx="2" ry="2" />
                <line x1="6" y1="6" x2="6.01" y2="6" />
                <line x1="6" y1="18" x2="6.01" y2="18" />
              </svg>
              Other input types</a>
          </li>
          <li>
            <a href="#reset">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power">
                <path d="M18.36 6.64a9 9 0 1 1-12.73 0" />
                <line x1="12" y1="2" x2="12" y2="12" />
              </svg>
              Reset only</a>
          </li>
          <li>
            <a href="#customization">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders">
                <line x1="4" y1="21" x2="4" y2="14" />
                <line x1="4" y1="10" x2="4" y2="3" />
                <line x1="12" y1="21" x2="12" y2="12" />
                <line x1="12" y1="8" x2="12" y2="3" />
                <line x1="20" y1="21" x2="20" y2="16" />
                <line x1="20" y1="12" x2="20" y2="3" />
                <line x1="1" y1="14" x2="7" y2="14" />
                <line x1="9" y1="8" x2="15" y2="8" />
                <line x1="17" y1="16" x2="23" y2="16" />
              </svg>
              Customization</a>
          </li>
          <li>
            <a href="#contribute">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
                <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" />
              </svg>
              Contribute</a>
          </li>
        </ul>
      </nav>
    </div> -->
    <main class="demo-page-content"> 
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
        <section>
            <div class="href-target " id="input-types"></div>
            <h1 class="fw-bold text-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify">
                <line x1="21" y1="10" x2="3" y2="10" />
                <line x1="21" y1="6" x2="3" y2="6" />
                <line x1="21" y1="14" x2="3" y2="14" />
                <line x1="21" y1="18" x2="3" y2="18" />
              </svg>
              Product Details
              <button class="btn btn-danger rounded-pill ms-5 fw-bold">Close</button>
            </h1>
           
      
            <div class="nice-form-group fw-bold">
              <label>Name</label>
              <input type="text" placeholder="Enter name" value="" [(ngModel)]="productObj.FullName" />
            </div>
            
            <div class="nice-form-group fw-bold">
              <label> Short Name</label>
              <input type="text" placeholder="Short name" value="" [(ngModel)]="productObj.ShortName" />
            </div>

            <div class="d-flex pt-2 fw-bold">
              <div class="">
                <label>Product Id</label> <br>
                <input type="text" placeholder="Product Id" value="" [(ngModel)]="productObj.ProductId" />
             </div>
             <div class="ms-4">
              <label>Vendor Id</label> <br>
                <input type="text" placeholder="Vendor Id" value="" [(ngModel)]="productObj.VendorId" />
             </div>
            </div>

            <div class="d-flex pt-2 fw-bold">
              <div class="">
                <label>SKU</label> <br>
                <input type="text" placeholder="sku" value="" [(ngModel)]="productObj.Sku" />
             </div>
             <div class="ms-4">
              <label>Product Category Id</label> <br>
                <input type="text" placeholder="Category Id" value="" [(ngModel)]="productObj.ProductCategoryId" />
             </div>
            </div>

            <div class="d-flex pt-2 fw-bold">
              <div class="">
                <label>Short Description</label> <br>
                <input type="text" placeholder="" value="" [(ngModel)]="productObj.ShortDescription" />
             </div>
             <div class="ms-4">
              <label>Long Description</label> <br>
                <input type="text" placeholder="" value="" [(ngModel)]="productObj.LongDescription" />
             </div>
            </div>
            
            <div class="fw-bold pt-2">
              <label>Product Type</label> <br>
            <select type="text" name="" [(ngModel)]="productObj.ProductType" class="form-control form-select">
                <option value="Product Type" *ngFor="let product  of productArray" [value]="product.ProductType"> 
                  {{product.ProductType}}</option>
                </select>
             </div>
             <div class="d-flex pt-2 fw-bold">
              <div class="">
                <label>ProductBasePrice</label> <br>
                <input type="text" placeholder="" value="" [(ngModel)]="productObj.ProductBasePrice" />
             </div>
             <div class="ms-4">
              <label>SearchKeyWords</label> <br>
                <input type="search" placeholder="" value="" [(ngModel)]="productObj.SearchKeyWords" />
             </div>
            </div>
      
            <div class="nice-form-group fw-bold">
              <label>Thumbnail Image Url</label>
              <input type="url" placeholder="www.google.com"  [(ngModel)]="productObj.ThumbnailImageUrl" value="" />
            </div>
      
            <div class="d-flex pt-2 fw-bold">
              <div class="">
                <label>Is Varient Available</label> <br>
                <input type="text" placeholder="" value="" [(ngModel)]="productObj.IsVarientAvailable" />
             </div>
             <div class="ms-4">
              <label>Is Specification Available</label> <br>
                <input type="text" placeholder="" value="" [(ngModel)]="productObj.IsSpecificationAvailable" />
             </div>
            </div>
             
            <fieldset class="nice-form-group ">
              <div class="nice-form-group fw-bold">
                <input type="checkbox" [(ngModel)]="productObj.IsStockAvailable" id="check-1" />
                <label for="check-1">Is Stock Available</label>
              </div>
            </fieldset>

            <div class="d-flex pt-2 fw-bold">
              <div class="">
                <label>Modified On</label> <br>
                <input type="text" placeholder="" value="" [(ngModel)]="productObj.ModifiedOn" />
             </div>
             <div class="ms-4">
              <label>Modified By</label> <br>
                <input type="search" placeholder="" value="" [(ngModel)]="productObj.ModifiedBy" />
             </div>
            </div>

            <div class="d-flex pt-2 fw-bold">
              <div class="">
                <label>Created On</label> <br>
                <input type="text" placeholder="" value="" [(ngModel)]="productObj.CreatedOn" />
             </div>
             <div class="ms-4">
              <label>Created By</label> <br>
                <input type="search" placeholder="" value="" [(ngModel)]="productObj.CreatedBy" />
             </div>
            </div>
              <div>

                <div class="d-flex pt-2 fw-bold">
                  <div class="">
                     <button class="btn btn-success me-5">Save</button>
                 </div>
                 <div class="ms-4">
                  <button class="btn btn-danger ms-5" >Reset</button>
                 </div>
                </div>
              </div>
              <script src="https://gist.github.com/nielsVoogt/e25c9c8f2b8456bbd1239b775d21333f.js"></script>
           
          </section>
    </div>
  </div>
     
  
     
        
    </main>
  
